body{
    background-color: rgb(33, 3, 3);
    color: ivory;
}

.container{
    width: 60%;
    margin: 20px auto;
    border: 2px solid goldenrod;
    background-color: rgb(246, 235, 209);
    color: rgb(33,3,3);
    padding: 20px;
}

ol{

}

ol li{

}

h1{
    text-align: center;
}