:root{
   --brand-color: rgb(53, 18, 53);
   --light-text: rgb(222, 216, 216);
   --dark-text:rgb(29, 21, 21);
   --accent-color:rgb(159, 136, 5);
}



* {
    box-sizing: border-box; /* Spacing reset */
} /* The asterisk (*) is a universal selector targeting all tags; box-sizing makes width calculations include border and padding */
.column-card {
    display: inline-block;
    width: 48%;
    border: 1px solid #ddd;
    border-radius: 8px; /* Rounded corners */
    padding: 20px;
    margin: 1%;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dashed black;
    cursor: help;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: -90px;
    opacity: 0;
    transition: opacity 0.3s;
} /* This targets the .tooltiptext element ONLY when it is nested inside an element with the .tooltip class */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
} /* 